#backup-main-block *{
    outline: none!important;
}

#backup-main-block .cb {
    clear: both;
}

#backup-main-block .fl {
    float: left;
}

#backup-main-block .head-title {
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin: 25px 0 0 10px;
}

#backup-main-block #backup-main-content {
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 2px solid #444444;
    margin-top: 25px;
    width: 900px;
}

#backup-main-block .menu-container {
    float: left;
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 15px;
    width: 200px;
}

#backup-main-block .menu-item {
    height: 30px;
    line-height: normal;
}

#backup-main-block .menu-item a {
    color: #8b8b8b;
    text-decoration: none;
}

#backup-main-block .menu-container .ui-state-active a {
    color: #444444;
    height: 30px;
    line-height: normal;
}

#backup-main-block .menu-block .content-block {
    min-height: 300px;
    padding: 20px 0 0 230px;
}

#backup-main-block .content-block .menu-title {
    font-size: 1.5em;
    font-weight: bold;
}

#backup-main-block .separator {
    border-top: 2px solid #444444;
    clear: both;
    margin-bottom: 30px;
    margin-top: 20px;
    width: 100%;
}

#backup-main-block .checkbox-containter .checkbox-inline {
    width: 194px;
}

#backup-main-block .checkbox-containter .location-field {
    width: 100%;
}

#backup-main-block .form-group select {
    width: 100px;
}

#backup-main-block .tab-container {
    height: 30px;
}

#backup-main-block .settings-tab-content {
    margin-top: 20px;
}

#backup-main-block .settings-btn {
    margin-right: 98px;
    float: right;
}

#backup-main-block a:focus {
    box-shadow: none;
}

#backup-main-block .h-actions{
    width: 232px;
}

#backup-main-block .h-date{
    width: 150px;
}

#backup-main-block {
    margin: 0 auto;
    width: 900px;
}

#backup-main-block .periodicity-block{
    margin-left: 20px;
}

.snsToastBox {
    border: 1px solid #F0C36D;
    height: 40px;
    left: 0;
    position: fixed;
    top: 30px;
    width: 190px;
    background-color:#F9EDBE;
    border-color: #F0C36D;
    padding: 2px 10px;
    z-index: 200;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.snsToastText {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    margin-top: 9px;
    text-align: center;
}

#backup-main-block .menu-content , #backup-main-block .tab-content {
    padding-top:20px;
}

#sns-settings-email {
    width: auto;
}
#backup-main-block .upload-block{
    float: left;
    width: 405px;
}

#backup-main-block .pro-v-label {
    color: #f0ad4e!important;
    font-style: italic;
    padding-left: 8px;
}

#backup-main-block input[type=checkbox] , input[type=radio]{
    margin-top: 0!important;
}

#backup-main-block label.radio {
    font-weight: normal!important;
}

#backup-main-block .external-backup-input {
    width: 300px;
    float: left;
    margin-right: 5px;
}

#backup-main-block .control-label {
    margin-top: 7px;
}

.btn-upgrade{
    float: right !important;
    margin: -25px 0 0 10px !important;
    background: #FF8000 !important;
    background-image: -webkit-linear-gradient(top, #FF8000, #FF2A00) !important;
    background-image: -moz-linear-gradient(top, #FF8000, #FF2A00) !important;
    background-image: -ms-linear-gradient(top, #FF8000, #FF2A00) !important;
    background-image: -o-linear-gradient(top, #FF8000, #FF2A00) !important;
    background-image: linear-gradient(to bottom, #FF8000, #FF2A00) !important;
}